body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
    background-color: #FFD700; /* Color de fondo inicial */
    color: #000; /* Color de texto inicial */
}

.content {
    padding: 20px;
}

/* Estilos para los botones */
input[type="submit"] {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición de color de fondo al pasar el mouse */
}

input[type="submit"]:hover {
    background-color: #45a049; /* Color de fondo del botón al pasar el mouse */
}

/* Estilos para las ligas */
a {
    color: #000; /* Color de texto para las ligas */
    text-decoration: none; /* Sin subrayado */
    transition: color 0.3s ease; /* Transición de color al pasar el mouse */
}

a:hover {
    color: #FFA500; /* Color de texto al pasar el mouse sobre las ligas */
}

/* Estilos para el encabezado y el enlace de cerrar sesión */
h1, a#cerrarSesion {
    text-align: center; /* Centrar texto */
    background-color: #000; /* Color de fondo */
    color: #FFF; /* Color de texto */
    padding: 10px; /* Espaciado interno */
}

a#cerrarSesion:hover {
    background-color: #FFA500; /* Color de fondo al pasar el mouse sobre el enlace de cerrar sesión */
}